<application>
  <component name="AlipaySettings">
    <option name="authInfo">
      <IdeAuthInfo>
        <option name="token" value="authlogB1fc5aeef962847ebbdfd9edf5001aX21" />
        <option name="version" value="com.alipay.antcloud.ide-1.0.13" />
      </IdeAuthInfo>
    </option>
  </component>
</application>